/core/vendor
/core/node_modules
/core/storage/framework/cache/data/*
/core/storage/framework/sessions/*
/core/storage/framework/views/*
/core/storage/logs/*
!/core/storage/framework/cache/.gitignore
!/core/storage/framework/sessions/.gitignore
!/core/storage/framework/views/.gitignore
!/core/storage/logs/.gitignore
.env
core/.env
*.sql
!core/database/seed_database.sql
scratch/
*.zip
*.log
error_log
.DS_Store
Thumbs.db
tamsal_store_live.*
